* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    z-index: 10;
}
html {
    font-size: 62.5%;
    transition: $theme-transition;
    ::selection {
        background-color: $primary-color;
        color: #ffffff;
    }
    
}
body {
    min-width: 28rem;
    font-weight: 400;
    line-height: 1.7;
    padding: $body-padding-tb $body-padding-lr;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-color .2s;
}
// 分割线
.split-line {
    position: relative;
    &::before {
        content: '';
        width: 80%;
        height: .1rem;
        border-radius: 1rem;
        background: $split-line;
        position: absolute;
        top: -.3rem;
        left: 50%;
        transform: translateX(-50%);
    }
    
}