// body 参数
$body-padding-lr: 3rem;
$body-padding-tb: 1rem;

/*主题参数*/
$theme-transition: .3s;
$primary-color: #9d94ff;
$primary-color-dark: #8a7fff;
// 输入框
$input-placeholder-color: #979797;       // 输入框提示信息颜色
// pop
$pop-item-hover-bg: rgba(168, 168, 168, 0.65); // block鼠标经过背景颜色
$pop-hover-color: #ffffff;             // block鼠标经过文字颜色
// 分割线
$split-line: #acacac;